@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');

@layer base {
  body {
    @apply bg-warm-50 text-brand-900 antialiased;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.brand.300') transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: theme('colors.brand.300');
    border-radius: 9999px;
  }
  .scrollbar-dark {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
  .scrollbar-dark::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-dark::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 9999px;
  }
}
