name: Deploy to Vercel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
        
      - name: Setup Vercel Project
        run: |
          mkdir -p .vercel
          echo '{"projectId":"prj_5fYDQqVL3KaVVDfHAo2yUNIjFrn0","orgId":"team_oclEO978Sj1AcVl7Fbho93qZ"}' > .vercel/project.json
        working-directory: ./apps/demo
        
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
        working-directory: ./apps/demo
        
      - name: Deploy to Vercel
        run: vercel --prod --yes --token=${{ secrets.VERCEL_TOKEN }}
        working-directory: ./apps/demo
